# 01 â€“ Data Exploration

## Files
- `inpatient_claim.csv`: Claim-level details
- `bene_file.csv`: Beneficiary-level demographics and health info

In [1]:
## Step 1: Load Data
import pandas as pd
import numpy as np

# Load datasets
df_claims = pd.read_csv('../data/raw/Inpatient_Claim.csv')
df_bene = pd.read_csv('../data/raw/bene_file.csv')

df_claims.shape, df_bene.shape

((66773, 81), (65535, 17))

## Step 2: Schema Inspection

Explore structure, nulls, and data types in both files.

In [2]:
# Claims file
print("ðŸ“„ Claims File Schema")
df_claims.info()
print("\nðŸ”Ž Nulls per column:")
print(df_claims.isnull().sum())

# Bene file
print("\nðŸ“„ Bene File Schema")
df_bene.info()
print("\nðŸ”Ž Nulls per column:")
print(df_bene.isnull().sum())

ðŸ“„ Claims File Schema
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66773 entries, 0 to 66772
Data columns (total 81 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   DESYNPUF_ID                     66773 non-null  object
 1   CLM_ID                          66773 non-null  int64
 2   SEGMENT                         66773 non-null  int64
 3   CLM_FROM_DT                     66705 non-null  float64
 4   CLM_THRU_DT                     66705 non-null  float64
 5   PRVDR_NUM                       66773 non-null  object
 6   CLM_PMT_AMT                     66773 non-null  float64
 7   NCH_PRMRY_PYR_CLM_PD_AMT        66773 non-null  float64
 8   AT_PHYSN_NPI                    66100 non-null  float64
 9   OP_PHYSN_NPI                    39058 non-null  float64
 10  OT_PHYSN_NPI                    7683 non-null   float64
 11  CLM_ADMSN_DT                    66773 non-null  int64
 12  ADMTNG_ICD9_DGNS_CD             66174 non-null  object
 13  CLM_PASS_THRU_PER_DIEM_AMT      66773 non-null  float64
 14  NCH_BENE_IP_DDCTBL_AMT          64595 non-null  float64
 15  NCH_BENE_PTA_COINSRNC_LBLTY_AM  66773 non-null  float64
 16  NCH_BENE_BLOOD_DDCTBL_LBLTY_AM  66773 non-null  float64
 17  CLM_UTLZTN_DAY_CNT              66705 non-null  float64
 18  NCH_BENE_DSCHRG_DT              66773 non-null  int64
 19  CLM_DRG_CD                      66773 non-null  object
 20  ICD9_DGNS_CD_1                  66678 non-null  object
 21  ICD9_DGNS_CD_2                  66247 non-null  object
 22  ICD9_DGNS_CD_3                  65492 non-null  object
 23  ICD9_DGNS_CD_4                  64005 non-null  object
 24  ICD9_DGNS_CD_5                  61639 non-null  object
 25  ICD9_DGNS_CD_6                  58369 non-null  object
 26  ICD9_DGNS_CD_7                  54407 non-null  object
 27  ICD9_DGNS_CD_8                  49947 non-null  object
 28  ICD9_DGNS_CD_9                  45032 non-null  object
 29  ICD9_DGNS_CD_10                 5455 non-null   object
 30  ICD9_PRCDR_CD_1                 38231 non-null  float64
 31  ICD9_PRCDR_CD_2                 22733 non-null  object
 32  ICD9_PRCDR_CD_3                 14462 non-null  object
 33  ICD9_PRCDR_CD_4                 9377 non-null   object
 34  ICD9_PRCDR_CD_5                 6446 non-null   object
 35  ICD9_PRCDR_CD_6                 4622 non-null   object
 36  HCPCS_CD_1                      0 non-null      float64
 37  HCPCS_CD_2                      0 non-null      float64
 38  HCPCS_CD_3                      0 non-null      float64
 39  HCPCS_CD_4                      0 non-null      float64
 40  HCPCS_CD_5                      0 non-null      float64
 41  HCPCS_CD_6                      0 non-null      float64
 42  HCPCS_CD_7                      0 non-null      float64
 43  HCPCS_CD_8                      0 non-null      float64
 44  HCPCS_CD_9                      0 non-null      float64
 45  HCPCS_CD_10                     0 non-null      float64
 46  HCPCS_CD_11                     0 non-null      float64
 47  HCPCS_CD_12                     0 non-null      float64
 48  HCPCS_CD_13                     0 non-null      float64
 49  HCPCS_CD_14                     0 non-null      float64
 50  HCPCS_CD_15                     0 non-null      float64
 51  HCPCS_CD_16                     0 non-null      float64
 52  HCPCS_CD_17                     0 non-null      float64
 53  HCPCS_CD_18                     0 non-null      float64
 54  HCPCS_CD_19                     0 non-null      float64
 55  HCPCS_CD_20                     0 non-null      float64
 56  HCPCS_CD_21                     0 non-null      float64
 57  HCPCS_CD_22                     0 non-null      float64
 58  HCPCS_CD_23                     0 non-null      float64
 59  HCPCS_CD_24                     0 non-null      float64
 60  HCPCS_CD_25                     0 non-null      float64
 61  HCPCS_CD_26                     0 non-null      float64
 62  HCPCS_CD_27                     0 non-null      float64
 63  HCPCS_CD_28                     0 non-null      float64
 64  HCPCS_CD_29                     0 non-null      float64
 65  HCPCS_CD_30                     0 non-null      float64
 66  HCPCS_CD_31                     0 non-null      float64
 67  HCPCS_CD_32                     0 non-null      float64
 68  HCPCS_CD_33                     0 non-null      float64
 69  HCPCS_CD_34                     0 non-null      float64
 70  HCPCS_CD_35                     0 non-null      float64
 71  HCPCS_CD_36                     0 non-null      float64
 72  HCPCS_CD_37                     0 non-null      float64
 73  HCPCS_CD_38                     0 non-null      float64
 74  HCPCS_CD_39                     0 non-null      float64
 75  HCPCS_CD_40                     0 non-null      float64
 76  HCPCS_CD_41                     0 non-null      float64
 77  HCPCS_CD_42                     0 non-null      float64
 78  HCPCS_CD_43                     0 non-null      float64
 79  HCPCS_CD_44                     0 non-null      float64
 80  HCPCS_CD_45                     0 non-null      float64
dtypes: float64(58), int64(4), object(19)
memory usage: 41.3+ MB

ðŸ”Ž Nulls per column:
DESYNPUF_ID        0
CLM_ID             0
SEGMENT            0
CLM_FROM_DT       68
CLM_THRU_DT       68
               ...
HCPCS_CD_41    66773
HCPCS_CD_42    66773
HCPCS_CD_43    66773
HCPCS_CD_44    66773
HCPCS_CD_45    66773
Length: 81, dtype: int64

ðŸ“„ Bene File Schema
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65535 entries, 0 to 65534
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   DESYNPUF_ID        65535 non-null  object
 1   BENE_SEX_IDENT_CD  65535 non-null  int64
 2   BENE_RACE_CD       65535 non-null  int64
 3   SP_STATE_CODE      65535 non-null  int64
 4   BENE_COUNTY_CD     65535 non-null  int64
 5   SP_ALZHDMTA        65535 non-null  int64
 6   SP_CHF             65535 non-null  int64
 7   SP_CHRNKIDN        65535 non-null  int64
 8   SP_CNCR            65535 non-null  int64
 9   SP_COPD            65535 non-null  int64
 10  SP_DEPRESSN        65535 non-null  int64
 11  SP_DIABETES        65535 non-null  int64
 12  SP_ISCHMCHT        65535 non-null  int64
 13  SP_OSTEOPRS        65535 non-null  int64
 14  SP_RA_OA           65535 non-null  int64
 15  SP_STRKETIA        65535 non-null  int64
 16  Total_mons         65535 non-null  int64
dtypes: int64(16), object(1)
memory usage: 8.5+ MB

ðŸ”Ž Nulls per column:
DESYNPUF_ID          0
BENE_SEX_IDENT_CD    0
BENE_RACE_CD         0
SP_STATE_CODE        0
BENE_COUNTY_CD       0
SP_ALZHDMTA          0
SP_CHF               0
SP_CHRNKIDN          0
SP_CNCR              0
SP_COPD              0
SP_DEPRESSN          0
SP_DIABETES          0
SP_ISCHMCHT          0
SP_OSTEOPRS          0
SP_RA_OA             0
SP_STRKETIA          0
Total_mons           0
dtype: int64

## Step 3: Descriptive Stats and Distribution

Check numerical summaries and distributions for basic profiling.

In [3]:
# Descriptive stats for claims
print("Claims File Summary:")
display(df_claims.describe(include='all'))

# Descriptive stats for bene
print("Bene File Summary:")
display(df_bene.describe(include='all'))

Claims File Summary:

,DESYNPUF_ID,CLM_ID,SEGMENT,CLM_FROM_DT,CLM_THRU_DT,PRVDR_NUM,CLM_PMT_AMT,NCH_PRMRY_PYR_CLM_PD_AMT,AT_PHYSN_NPI,OP_PHYSN_NPI,...,HCPCS_CD_36,HCPCS_CD_37,HCPCS_CD_38,HCPCS_CD_39,HCPCS_CD_40,HCPCS_CD_41,HCPCS_CD_42,HCPCS_CD_43,HCPCS_CD_44,HCPCS_CD_45
count,66773,6.677300e+04,66773.000000,6.670500e+04,6.670500e+04,66773,66773.000000,66773.000000,6.610000e+04,3.905800e+04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
unique,37780,NaN,NaN,NaN,NaN,2675,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,CD57573A5B77AAFE,NaN,NaN,NaN,NaN,23006G,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,14,NaN,NaN,NaN,NaN,772,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.965017e+14,1.001018,2.008846e+07,2.008861e+07,NaN,9573.632756,398.899256,5.046059e+09,5.065150e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.859526e+11,0.031896,7.587457e+03,7.559295e+03,NaN,9315.073232,3663.463023,2.931521e+09,2.930776e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.960112e+14,1.000000,2.007113e+07,2.008010e+07,NaN,-8000.000000,0.000000,1.168381e+06,1.159725e+06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,1.962512e+14,1.000000,2.008081e+07,2.008082e+07,NaN,4000.000000,0.000000,2.482526e+09,2.482526e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,1.965012e+14,1.000000,2.009032e+07,2.009032e+07,NaN,7000.000000,0.000000,4.965742e+09,5.039206e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,1.967512e+14,1.000000,2.009111e+07,2.009112e+07,NaN,11000.000000,0.000000,7.676245e+09,7.640006e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,1.969912e+14,2.000000,2.010123e+07,2.010123e+07,NaN,57000.000000,68000.000000,9.999956e+09,9.999602e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Bene File Summary:

,DESYNPUF_ID,BENE_SEX_IDENT_CD,BENE_RACE_CD,SP_STATE_CODE,BENE_COUNTY_CD,SP_ALZHDMTA,SP_CHF,SP_CHRNKIDN,SP_CNCR,SP_COPD,SP_DEPRESSN,SP_DIABETES,SP_ISCHMCHT,SP_OSTEOPRS,SP_RA_OA,SP_STRKETIA,Total_mons
count,65535,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000,65535.000000
unique,60405,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,1.80E+308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.542367,1.303593,25.737621,359.899031,1.838300,1.762463,1.866911,1.946075,1.886244,1.821210,1.684871,1.648615,1.853391,1.871443,1.963409,29.439841
std,NaN,0.498206,0.776204,15.797706,265.430456,0.368178,0.425577,0.339674,0.225872,0.317517,0.383179,0.464571,0.477407,0.353718,0.334712,0.187757,13.496288
min,NaN,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,NaN,1.000000,1.000000,10.000000,140.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,2.000000,24.000000
50%,NaN,2.000000,1.000000,25.000000,320.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,36.000000
75%,NaN,2.000000,1.000000,39.000000,550.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,36.000000
max,NaN,2.000000,5.000000,54.000000,999.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,48.000000

## Step 4: Initial Observations

- Several columns have nulls that need imputation or exclusion.
- Dates are stored as strings and need conversion.
- BeneID appears in both files and will serve as a primary key for joining.
- Chronic condition columns are binary (likely 1 = Yes, 2 = No, 0 = Unknown or Null).
- Claim costs can be used to create flags for highâ€‘cost patients.
- Opportunity to build a `FactClaims` table and supporting `DimPatient`, `DimDate`.